html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0 0 0 0;
    background-color: whitesmoke;
}

header {
    background-color: #4cb050;
    text-align: center;
    color: whitesmoke;

    padding-top: 1%;
    padding-bottom: 1%;
}

header h1 {
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 0px;
}

header p {
    font-weight: bold;
    margin-top: 0px;
}

nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
    
    padding-left: 0px;

    text-align: center;
    background-color: #333333;
}

nav ul li {
    align-content: center;
    text-align: center;
    display: inline-block;
    width: 75px;
    height: 45px;
    background-color: #333333;
    border-radius: 10px;    
}

nav ul li a {
    font-weight: bold;
    color: whitesmoke;
    text-decoration-color: white;
    text-decoration-line: none;
}

nav ul li .active {
    align-content: center;
    display: inline-block;
    width: 75px;
    height: 45px;
    background-color: #fdd312;
    border-radius: 10px;
}

nav ul li .active {
    color: #333333;
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222222;
    color: whitesmoke;
}

footer p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 10px;
    border-color: #222222;
    border-style: dotted;
}

/* Services Page */
.services {
    text-align: center;
}

.service-card {
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    margin: 5px;
    align-self: center;
    text-align: center;
    display: inline-block;

    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
}

.service-card h2 {
    color: #4caf53;
}

/* Contact Page */
.contact-form {
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px;

    border-radius: 20px;
    border-color: whitesmoke;
    border-style: solid;
}

.contact-form h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}

.contact-form form {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-form input, textarea {
    border-radius: 5px;
    border-style: inset;
    border-color: #222222;
    border-width: 1px;
    height: 30px;
    display: block;
    width: 98%;
    margin-bottom: 10px;
}

.contact-form button {
    border: none;
    color: white;
    width: 100%;
    
    background-color: #4caf50;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}